<!--include START-->
<header class="l-header">
  <div class="l-gNav">
    <div class="l-gNav__btn"><a href="#"><span></span></a></div>
    <nav class="l-gNav__wrap">
      <ul class="l-gNav__list">
        <li class="listItem">
          <a href="/">
            <span class="item__text">TOP</span>
          </a>
        </li>
        <li class="listItem">
          <a href="/htmlcss">
            <span class="item__text">HTML/CSS</span>
          </a>
        </li>
        <li class="listItem">
          <a href="/javascript">
            <span class="item__text">JavaScript</span>
          </a>
        </li>
        <li class="listItem">
          <a href="/usefultool">
            <span class="item__text">ツール系</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!--include END-->
